<h2>Sign In</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control", required: false %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control", required: false %>
  </div>

    <div class="check-box">
      <label>
        <%= f.check_box :remember_me, required: false, as: :boolean if devise_mapping.rememberable? %> Remember Me
      </label>

    </div>

  <div class="form-group">
    <%= f.submit "Sign In", class: "btn btn-primary" %>
    <%= link_to "Cancel", root_path , class: "btn btn-default" %>
  </div>

<% end %>

<%= render "devise/shared/links" %>
