<%= form_for(@post) do |f| %>
	<div class="form-group">
		<%= f.label :Title %>
		<%= f.text_field :title, autofocus: true, class: "form-control", required: true %>
	</div>
	<br>

	<div class="form-group">
		<%= f.label :Description %>
		<%= f.text_field :desc, autofocus: true, class: "form-control", required: true %>
	</div>
		<br>

	<div class="form-group btn-group">
		<%= f.submit "Submit" , class: "btn btn-success" %>
		<%= link_to 'Cancel', root_path, class: "btn btn-primary" %>
	</div>
	
<% end %>