<% @posts.each do |f| %>
	<div class="link row clearfix">
		
		<h2><%= link_to f.title.titleize, post_path(f) %><br>
			<small class="author">Submitted <%= time_ago_in_words(f.created_at) %> ago by <b><%= f.user.email %></b></small>

		</h2>
		<br>
	

	<div class="btn-group" style="float:right">
		<%= link_to like_post_path(f), method: :put, class: "btn btn-default btn-sm" do %>
			<span class="glyphicon glyphicon-chevron-up">

			</span>
			Upvote
			<%= f.get_upvotes.size %>
		<% end %>

		<%= link_to dislike_post_path(f), method: :put, class: "btn btn-default btn-sm" do %>
			<span class="glyphicon glyphicon-hand-down">

			</span>
			Downvote
			<%= f.get_downvotes.size %>
		<% end %>
		

		<br>

	</div>
	<br><br>
	<hr>

	</div>
<% end %>
