<div class="page-header clearfix">
	<h1><a href="" style="decoration: none"><%= @post.title.titleize %></a> <br><small style="font-size:40% ">Submitted by <b><%= @post.user.email %></b></small> </h1>


	<div class="btn-group" style="padding-left: 50px;float:right">


		<% if @post.user == current_user %>

			<%= link_to 'Delete', @post, method: :delete, data: { confirm:'are you sure?'},class: "btn btn-danger" %>
			<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-default" %>
		<% else %>

			<div>
				<%= link_to 'Delete', @post, method: :delete, data: { confirm:'are you sure?'},class: "btn btn-danger disabled" %>
				<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-default disabled" %>

			</div>
		<% end %>
	</div>


	<h3 ><%= @post.desc %></h3>



	<%= link_to 'Back', root_path, class: "btn btn-primary" %>
		
	
	<div class="btn-group" style="float: right">
		<%= link_to like_post_path(@post), method: :put, class: "btn btn-default btn-sm" do %>
			<span class="glyphicon glyphicon-chevron-up">

			</span>
			Upvote
			<%= @post.get_upvotes.size %>
		<% end %>

		<%= link_to dislike_post_path(@post), method: :put, class: "btn btn-default btn-sm" do %>
			<span class="glyphicon glyphicon-hand-down">

			</span>
			Downvote
			<%= @post.get_downvotes.size %>
		<% end %>
		


	</div>


	
</div>

	
		

